.table-head {
  letter-spacing: 0.7px;
  font-size: clamp(1.2rem, 3vw, 1.7rem);
}
.table-body {
  letter-spacing: 0.5px;
  font-size: clamp(1rem, 3vw, 1.2rem);
}
.table-body tr td {
  padding: 5px 0px !important;
}
